<header class="header">
  <div class="content">
    <div class="l-container">
      <div class="l-row">
        <div class="l-span3">
          <img src="<%= config.root %>images/brand.png" alt="Giraf" class="brand">
        </div>
        <div class="l-span9">
          <h2 class="lead"><%= page.subtitle %></h2>
          <div class="only-sm warn">
            <%= __('index.desktop_only') %>
          </div>
          <div class="btn-set">
            <a href="http://giraf.harusamex.com"><button class="btn btn-large btn-brand">
              <%= __('index.launch_web_app') %>
            </button></a>
            <span class="not-sm">
              <%- __('index.requires_latest_chrome') %>
            </span>
          </div>
          <div class="btn-set">
            <a href="https://github.com/spring-raining/Giraf/releases"><button class="btn btn-large btn-brand">
              <%= __('index.download_desktop_app') %>
            </button></a>
          </div>
          <div class="languages">
            <a href="<%= config.root %>">English</a>
            <a href="<%= config.root %>jp">日本語</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="feats">
  <div class="l-container">
    <div class="l-row">
      <div class="l-span7">
        <%- page.content %>
      </div>
      <div class="l-span5 center">
        <img src="<%= config.root %>images/feat_1.gif" class="feat-1">
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="l-container">
    <div class="link">
      Stay Tuned!
      <%- partial('_partials/share') %>
    </div>
    <div class="copyright">
      ©<%= new Date().getFullYear() %> <a href="http://harusamex.com">spring-raining</a></br>
      Giraf is distributed under the <a href="https://opensource.org/licenses/mit-license.php">MIT License</a>.
    </div>
  </div>
</footer>
